@import "../colors/color.css";

#bg{
    min-height: 100%;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
#Form-Body {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 10px 3px Black;
}
.shadow {
   box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
}
.asteriskField {
    display: none;
}
.contact-icon {
    color: var(--blue-sapphire);
}
@media screen and (max-width: 1024px) {
  #bg {
    left: 50%;
    margin-left: -512px;
  }
}