/*Media Queries*/
@media (min-width: 768px) {
    #Form-Body {
        width:100%;
    }
    #contact-messages {
        width: 100%;
    }
}
@media (min-width: 992px) {
    #Form-Body {
        width:75%;
    }
    #contact-messages {
        width: 75%;
    }
}
@media (min-width: 1200px) {
    #Form-Body {
        width:50%;
    }
    #contact-messages {
        width: 50%;
    }
}