<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static '/favicon/favicon.ico' %}" />

        <link
          href="https://fonts.googleapis.com/css?family=Roboto:400,700"
          rel="stylesheet"
        >
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="{% static 'js/ThemeSwitcher/LoadDefaultTheme.js' %}"></script>

        <link rel="stylesheet" href="{% static '/css/base.css' %}" />
        <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block extra_head_links %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        {% endblock navbar %}

        <button
            onclick="topFunction()"
            id="backToTopBtn"
            class="btn btn-outline-secondary"
        >
                <i class="fa fa-arrow-up"></i>
        </button>
        {% block index %}
        {% endblock index %}

        {% block gallery %}
        {% endblock gallery %}

        {% block contact %}
        {% endblock contact %}

        {% block content %}
        {% endblock content %}

        {% block extra_script_links %}
            <script src="{% static 'js/main.js' %}"></script>
            <script src="{% static 'js/ToTopButton.js' %}"></script>
            <script src="{% static 'js/ThemeSwitcher/ThemeSwitcher.js' %}"></script>
        {% endblock %}
    </body>
    {% block footer %}
    {% endblock footer %}
</html>
