{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contact %}
    <head>
        <title>JPaubel | Contact</title>
    </head>
    <div id="bg" style="background-image: url('../media/background.png')">
        <div class="mb-4">
            {% include 'navbar.html' %}
        </div>

        <div id="contact-messages" class="mx-auto">
            {% include 'messages.html' %}
        </div>

        <div id="Form-Body" class="container p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-1 text-center">
                    <h2>Contact Me</h2>
                </div>

                <div class="mb-1">
                    <div class="d-flex flex-row">
                        <i class="mr-2 fa fa-user fa-lg contact-icon"></i>
                        Name
                    </div>
                    {{ form.name | as_crispy_field }}
                </div>

                <div class="mb-1">
                    <div class="d-flex flex-row">
                        <i class="mr-2 fa fa-envelope fa-lg contact-icon"></i>
                        Email
                    </div>
                    {{ form.email | as_crispy_field }}
                </div>

                <div class="mb-1">
                    <div class="d-flex flex-row">
                        <i class="mr-2 fa fa-tag fa-lg contact-icon"></i>
                        Subject
                    </div>
                    {{ form.subject | as_crispy_field }}
                </div>

                <div class="mb-1">
                    <div class="d-flex flex-row">
                        <i class="mr-2 fa fa-pencil fa-lg contact-icon"></i>
                        Message
                    </div>
                    {{ form.message | as_crispy_field }}
                </div>

                <div class="mb-1">
                    <div class="h-captcha text-center" data-sitekey="2f320587-7366-4af2-a556-a734f4e26795"></div>
                    {% for message in form.captcha.errors %}
                    <div class="notification is-danger">{{ message }}</div>
                    {% endfor %}
                </div>

                <div class="d-grid text-center">
                  <button class="btn btn-lg btn-primary" type="submit">
                      <i class="mr-2 fa fa-paper-plane"></i>Send
                  </button>
                </div>
             </form>
        </div>
        <div class="mt-4">
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock contact %}