{% extends 'base.html' %}
{% block footer %}
<div id='footer'>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="extra-links col-lg-8 col-md-8 col-sm-12">
                    <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                    <a class="text-info"
                       href='https://www.freepik.com/photos/nature'
                    >
                        Home page photo created by wirestock
                    </a>
                    <br>
                    <a class="text-info"
                       href='https://www.freepik.com/photos/background'
                    >
                        Contact page photo created by Racool_studio
                    </a>
                    <br>
                    <a class="text-info"
                       href='https://codepen.io/ishaansaxena/pen/WoJGRK'
                    >
                        Index page contact buttons based on codepen by Ishaan Saxena
                    </a>
                    <br>
                    <a class="text-info"
                       href='https://lokeshdhakar.com/projects/lightbox2/'
                    >
                        Gallery page Lightbox2 styling by Lokesh Dhakar
                    </a>
                </div>

                <div class="contact-links col-lg-4 col-md-4 col-sm-12">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <p>
                        <a href="mailto:jpaubel@pm.me"  target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-envelope fa-lg mr-2"></i>jpaubel@pm.me
                        </a>
                        <br/>
                        <a href="https://jaredp45.github.io/" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-github fa-lg mr-2"></i>Github Page
                        </a>
                        <br/>
                        <a href="https://linkedin.com/in/jared-paubel" target="_blank" rel="noopener noreferrer">
                            <i class="fa fa-linkedin fa-lg mr-2"></i>LinkedIn
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center">
            2022 © jpaubel.tech
            <br/>Made with ❤ from Wichita, Kansas
        </div>
    </footer>
</div>
{% endblock footer %}