{% extends 'base.html' %}
{% block footer %}
<div id='footer'>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                    <a class="text-info" href='https://www.freepik.com/photos/nature'>Home page photo created by wirestock - www.freepik.com</a>
                    <br>
                    <a class="text-info" href='https://www.freepik.com/photos/background'>Contact page photo created by Racool_studio - www.freepik.com</a>
                    <p>If you would like to collaborate with me, please contact me!</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <p>Wichita, Kansas
                        <br/>jpaubel@pm.me
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center">2021 © jpaubel.tech</div>
    </footer>
</div>
{% endblock footer %}