{% extends 'base.html' %}
{% load static %}

{% block extra_head_links %}
    <link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />
{% endblock %}

{% block gallery %}
    <head>
        <title>Gallery Detail</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id='content' class="mt-4">
            <div class="container">
                <div class="mb-2">
                    <button
                        class="post-back-button btn btn-outline-secondary btn-sm"
                        onclick="location.href='/gallery';"
                    >
                        <span>Back to Gallery</span>
                    </button>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 col-sm-12 mb-2">
                            <h1 class="text-center card-title">{{ object.country }}</h1>
                            <p class="card-text">{{ object.content }}</p>
                        </div>
                        {% for gallery in object.galleries.all %}
                            <h5 class="card-text">{{ gallery }}</h5>
                            <p class="card-text">{{ gallery.description }}</p>
                            <div class="row photo-row mb-2 justify-content-center">
                                {% for photo in gallery.public %}
                                    <a
                                        title="{{ photo.title }} on {{ photo.date_taken }}"
                                        href="{{ photo.get_display_url }}"
                                        data-lightbox="{{ gallery }}"
                                    >
                                        <img
                                            class="travel-photo m-2"
                                            src="{{ photo.get_thumbnail_url }}"
                                            alt="{{ photo.title }}: {{ photo.caption }}"
                                            loading="lazy"
                                        >
                                    </a>
                                {% endfor %}
                            </div>

                            {% if gallery.title != object.galleries.all.last.title %}
                                <hr class="my-4" />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
{% endblock gallery %}

{% block extra_script_links %}
    <script src="{% static 'lightbox/js/lightbox-plus-jquery.js' %}"></script>
{% endblock %}
