{% extends 'base.html' %}
{% load static %}
{% block gallery %}
    <head>
        <title>JPaubel | Gallery</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id='content' class="m-5">
            <div class="container">
                <h1 class="text-center">Travel Gallery</h1>
                {% for image in image_list %}
                    <h2>{{image.title}}</h2>
                    <p>{{image.content}}</p>

                    <!--Gallery-->
                    <div class="row m-4">
                    {% for photo in image.gallery.sample %}
                        <a class="align-self-center m-1" title="{{ photo.title }}" href="{{ photo.get_display_url }}" data-lightbox="gallery-example" max-height="150px">
                            <img src="{{ photo.get_thumbnail_url }}">
                        </a>
                    {% endfor %}
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
        {% include 'footer.html' %}
    </body>


{% endblock gallery %}