{% extends 'base.html' %}
{% block gallery %}
    <head>
        <title>JPaubel | Gallery</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id='content'>
            <div class="container">
                <h1
                    class="text-center m-3 col-md-12 col-sm-12"
                >
                    Travel Gallery
                </h1>
                <div class="card">
                    <div class="card-body">
                        {% for image in gallery_info %}
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">{{ image.country }}</h3>
                                    <p class="card-text">{{ image.content }}</p>
                                </div>
                                <div class="col-auto">
                                    <a href="{% url 'gallery_detail' image.slug  %}">
                                        <button class="post-button btn-sm">
                                            <span>See more of {{ image.country }}</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            {% for gallery in image.galleries.all|slice:":1" %}
                                <div class="row photo-row justify-content-center">
                                    {% for photo in gallery.public|slice:":6" %}
                                        <a
                                            title="{{ photo.title }} on {{ photo.date_taken }}"
                                            href="{{ photo.get_display_url }}"
                                            data-lightbox="{{ gallery }}"
                                        >
                                            <img
                                                class="travel-photo mx-1"
                                                src="{{ photo.get_thumbnail_url }}"
                                                alt="{{ photo.title }}: {{ photo.caption }}"
                                            >
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                            {% if image.country != gallery_info.last.country %}
                                <hr class="my-4" />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
{% endblock gallery %}