<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block index %}
<head>
    <title>Portfolio</title>
</head>

{% include 'navbar.html' %}
    <body>
        {% for data in index_data %}
            {% if data.hero_banner %}
            <header class="page-header header container-fluid mb-4"
                style="background-image: url({{ data.hero_banner.url }});"
            >
            {% else %}
            <header class="page-header header container-fluid mb-4">
            {% endif %}
                <div class="overlay"></div>

                <div class="description col-xl-8 col-lg-6 col-md-6 col-sm-10 col-10">
                    <img id="profile" class="img-fluid" width="300" src="{% static '/logo/prokope-p-lg.png' %}" />

                    <h1>{{ data.greeting_title }}</h1>
                    <p>{{ data.greeting_description }}</p>
                    <div id="links">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="contact-button">
                                    <a class="github icon icon-fill"
                                       href="https://github.com/JaredP45"
                                       target="_blank"
                                       rel="noopener noreferrer"
                                       role="button"
                                    >
                                        <i class="fa fa-github"></i>
                                    </a>
                                </div>

                                <div class="contact-button">
                                    <a class="stack-overflow icon icon-fill"
                                       href="https://stackoverflow.com/users/17229315/jared"
                                       target="_blank"
                                       rel="noopener noreferrer"
                                       role="button"
                                    >
                                        <i class="fa fa-stack-overflow"></i>
                                    </a>
                                </div>

                                <div class="contact-button">
                                    <a class="flickr icon icon-fill"
                                       href="https://www.flickr.com/people/jpaubel/"
                                       target="_blank"
                                       rel="noopener noreferrer"
                                       role="button"
                                    >
                                        <i class="fa fa-flickr"></i>
                                    </a>
                                </div>

                                <div class="contact-button">
                                    <a class="linkedin icon icon-fill"
                                       href="https://linkedin.com/in/jared-paubel"
                                       target="_blank"
                                       rel="noopener noreferrer"
                                       role="button"
                                    >
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                                <div class="contact-button">
                                    <a class="medium icon icon-fill"
                                       href="https://medium.com/@jpaubel"
                                       target="_blank"
                                       rel="noopener noreferrer"
                                       role="button"
                                    >
                                        <i class="fa fa-medium"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            </header> <!-- two closing headers for if-else -->

            <div class="container features">
                <div class="row">
                    <div class="col">
                        <h3 class="feature-title">{{ data.plans_title }}</h3>
                        <p>{{ data.plans_description }}</p>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col">
                        <h3 class="feature-title">{{ data.about_me_title }}</h3>
                        <p>{{ data.about_me_description }}</p>
                    </div>
                    <div class="col-auto">
                        {% if data.hero_image %}
                            <img id="profile" class="img-fluid" width="250" src="{{ data.hero_image.url }}" />
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="container blog-preview mb-2">
            <h1 class="row justify-content-center"><span>Recent Activity</span></h1>
            <div class="row justify-content-center">
                {% for post in posts %}
                    <div class="card col-md-5 mb-4 mx-1">
                        <div class="card-body">
                            <a  href="{% url 'post_detail' post.slug  %}">
                                <h2 class="card-title">{{ post.title }}<i class="fa fa-lightbulb-o my-auto ml-2"></i></h2>
                            </a>
                            <p class="card-text text-muted">
                                {% if post.updated_on > post.created_on %}
                                    <i class="fa fa-pencil mr-2"></i>{{ post.updated_on }}
                                {% else %}
                                    <i class="fa fa-clock-o fa-lg mr-2"></i>{{ post.created_on }}
                                {% endif %}
                            </p>

                            <p class="card-text">{{ post.content | safe | slice:":400" }}</p>
                            <a  href="{% url 'post_detail' post.slug  %}">
                                Read more...
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
    {% include 'footer.html' %}
{% endblock index %}
