{% extends 'base.html' %}
{% block linkedin %}
    <meta name="description" content="Jared's Portfolio" />
    <meta name="title" property="og:title" content="Portfolio" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image"
          content="https://live.staticflickr.com/65535/51385299181_8a3765b581_k.jpg" />
    <meta name="description" property="og:description" content="Jared's Portfolio" />
    <meta name="author" content="Jared Paubel" />
{% endblock linkedin %}