{% extends 'base.html' %}
{% load static %}
{% block navbar %}
<body>
    <nav class="navbar navbar-expand-sm">
        {% with request.resolver_match.url_name as url_name %}
            <div class="navbar-brand row align-items-center">
                <a class="nav-link {% if url_name == 'home' %} active {% endif %}"
                   href="{% url 'home' %}"
                >
                    <img class="img-fluid" width="75" src="{% static '/logo/jp_logo.png' %}" />
                    <!--<h3 class="navbar-name">Jared Paubel</h3>-->
                </a>
            </div>

            <button
                class="navbar-toggler navbar-dark"
                type="button"
                data-toggle="collapse"
                data-target="#main-navigation"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item mr-3">
                        <a class="nav-link {% if url_name == 'blog' %} active {% endif %}"
                           href="{% url 'blog' %}"
                        >
                            Blog
                        </a>
                    </li>

                     <li class="nav-item mr-3">
                        <a class="nav-link {% if url_name == 'gallery' %} active {% endif %}"
                           href="{% url 'gallery' %}"
                        >
                            Gallery
                        </a>
                    </li>
                </ul>
            </div>
        {% endwith %}
    </nav>
</body>
<script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
></script>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"
></script>

<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"
></script>
{% endblock navbar %}