{% extends 'base.html' %}
{% block content %}
    <head>
        <title>Blog Post</title>
    </head>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 card mb-4  mt-3 left top">
                <div class="card-body">
                    <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                    <div class="row mb-2">
                        <span class="col-auto text-muted pr-0">
                            <i class="fa fa-clock-o mr-2"></i>{{ post.created_on }}
                        </span>
                        {% if post.created_on != post.updated_on %}
                            <span class="col-auto text-muted pr-0"><i class="fa fa-pencil mr-2"></i>{{ post.updated_on }}</span>
                        {% endif %}
                        <span id="tag" class="col ml-3">
                            <span class="row">
                                <i class="fa fa-tags text-muted my-auto"></i>
                                {% for tag in post.tag.all %}
                                     <a class="badge m-1" href="{% url 'posts_by_tag' tag.slug %}">
                                        {{ tag.name }}
                                     </a>
                                {% endfor %}
                            </span>
                        </span>
                    </div>
                    {% if post.thumb %}
                        <div class="mx-auto col-lg-6 col-md-8 col-sm-10">
                            <img class="post-image img-fluid"
                                 src="{{ post.thumb.url }}"
                            />
                        </div>
                    {% endif %}

                    <p class="card-text mt-3">{{ object.content | safe }}</p>

                    <a href="{% url 'blog' %}">
                        <button class="post-back-button btn-sm">
                            <span>Back </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock content %}
