{% extends 'base.html' %}
{% load static %}

{% block extra_head_links %}
    <link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <head>
        <title>Blog Post</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id='content' class="mt-4">
            <div class="container">
                <div class="mb-2">
                    <button
                        class="post-back-button btn btn-outline-secondary btn-sm"
                        onclick="location.href='/blog';"
                    >
                        <span>Back to Blog</span>
                    </button>
                </div>
                <div id="blog-detail" class="card">
                    <div class="card-body">
                        <h1 class="card-title">{% block title %} {{ object.title }} {% endblock title %}</h1>
                        <div class="card-text">
                            <div class="row mb-2">
                                <span class="col-auto text-muted pr-0">
                                    <i class="fa fa-clock-o mr-2"></i>{{ post.created_on }}
                                </span>
                                {% if post.created_on != post.updated_on %}
                                    <span class="col-auto text-muted pr-0"><i class="fa fa-pencil mr-2"></i>{{ post.updated_on }}</span>
                                {% endif %}
                                <span id="tag" class="col-auto col-xs-12 ml-3">
                                    <span id="tag" class="row">
                                        <i class="fa fa-tags text-muted my-auto"></i>
                                        {% for tag in post.tag.all %}
                                                <a class="badge m-1" href="{% url 'posts_by_tag' tag.slug %}">
                                                    {{ tag.name }}
                                                </a>
                                        {% endfor %}
                                    </span>
                                </span>
                            </div>
                            {% if post.thumb %}
                                <div class="mx-auto col-lg-6 col-md-8 col-sm-10 my-4">
                                    <img
                                        class="post-image img-fluid"
                                        src="{{ post.thumb.url }}"
                                        loading="lazy"
                                    />
                                </div>
                            {% endif %}
        
                            <p class="mt-3">{{ object.content | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock content %}
{% block extra_script_links %}
    <script src="{% static 'lightbox/js/lightbox-plus-jquery.js' %}"></script>
    <script>
        // Blog post image lightbox effect
        document.addEventListener('DOMContentLoaded', function() {
            // Automatically wrap all images in links for lightbox
            const images = document.querySelectorAll('.card-body img');
            images.forEach(image => {
                const imageUrl = image.src;
                const lightboxLink = document.createElement('a');
                lightboxLink.href = imageUrl;
                lightboxLink.setAttribute('data-lightbox', 'article-images');
                image.parentNode.insertBefore(lightboxLink, image);
                lightboxLink.appendChild(image);
            });
        });
    </script>
{% endblock %}

