{% extends 'base.html' %}
{% block content %}
    <head>
        <title>Blog</title>
    </head>
    {% include 'navbar.html' %}
    <div id='content'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h1
                                class="text-center col-md-12 col-sm-12"
                            >
                                Articles
                            </h1>
                        </div>
                        <!-- <div id="tag" class="card-body d-flex overflow-auto" style="height: 75px">
                            <a class="badge mr-2" href="{% url 'blog' %}">All Posts</a>
                            {% for tag in tag %}
                                <a class="badge mr-2" href="{% url 'posts_by_tag' tag.slug %}">{{ tag.name }}</a>
                            {% endfor %}
                        </div> -->
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="sort-buttons">
                                    <form method="get" action="{% url 'blog' %}">
                                        <!-- Sort by Date Created -->
                                        <button type="submit" class="btn btn-primary" name="sort" value="created_on">
                                            Created
                                            {% if request.GET.sort == 'created_on' %}
                                                {% if request.GET.order == 'asc' %}
                                                    <i class="fa fa-arrow-up"></i> <!-- Ascending icon -->
                                                {% else %}
                                                    <i class="fa fa-arrow-down"></i> <!-- Descending icon -->
                                                {% endif %}
                                            {% else %}
                                                <i class="fa fa-sort"></i> <!-- Default icon if no sort field is selected -->
                                            {% endif %}
                                        </button>
                                
                                        <!-- Sort by Date Updated -->
                                        <button type="submit" class="btn btn-primary" name="sort" value="updated_on">
                                            Recent
                                            {% if request.GET.sort == 'updated_on' %}
                                                {% if request.GET.order == 'asc' %}
                                                    <i class="fa fa-arrow-up"></i> <!-- Ascending icon -->
                                                {% else %}
                                                    <i class="fa fa-arrow-down"></i> <!-- Descending icon -->
                                                {% endif %}
                                            {% else %}
                                                <i class="fa fa-sort"></i> <!-- Default icon if no sort field is selected -->
                                            {% endif %}
                                        </button>
                                
                                        <!-- Sort by Title -->
                                        <button type="submit" class="btn btn-primary" name="sort" value="title">
                                            Title
                                            {% if request.GET.sort == 'title' %}
                                                {% if request.GET.order == 'asc' %}
                                                    <i class="fa fa-arrow-up"></i> <!-- Ascending icon -->
                                                {% else %}
                                                    <i class="fa fa-arrow-down"></i> <!-- Descending icon -->
                                                {% endif %}
                                            {% else %}
                                                <i class="fa fa-sort"></i> <!-- Default icon if no sort field is selected -->
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                                
                                <!-- Optional: Sort Order Toggle Links -->
                                <div class="sort-order-buttons">
                                    {% if request.GET.sort %}
                                        <a href="?sort={{ request.GET.sort }}&order=asc" class="btn btn-link">
                                            <i class="fa fa-arrow-up"></i> Ascending
                                        </a>
                                        <a href="?sort={{ request.GET.sort }}&order=desc" class="btn btn-link">
                                            <i class="fa fa-arrow-down"></i> Descending
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form class="d-flex" method="get" action="{% url 'blog' %}">
                                    <!-- Multi-Select for Tags -->
                                    <select name="tags" multiple class="form-select" size=3 style="width: 300px;">
                                        <option value="" disabled>Select Tags</option>
                                        {% for tag in tag %}
                                            <option value="{{ tag.name }}" {% if tag.name in request.GET.tags %}selected{% endif %}>
                                                {{ tag.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                
                                    <!-- Sorting buttons here -->
                                
                                    <button type="submit" class="btn btn-primary my-auto">
                                        <i class="fa fa-filter"></i> Filter
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 left">
                    {% for post in posts %}
                        <div class="card mb-2" >
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <div class="card-text">
                                    <div class="row mb-2">
                                        <span class="col-auto text-muted pr-0">
                                            <i class="fa fa-clock-o mr-2"></i>{{ post.created_on }}
                                        </span>
                                        {% if post.created_on != post.updated_on %}
                                            <span class="col-auto text-muted pr-0"><i class="fa fa-pencil mr-2"></i>{{ post.updated_on }}</span>
                                        {% endif %}
                                        <span id="tag" class="col ml-3">
                                            <span class="row">
                                                <i class="fa fa-tags text-muted my-auto"></i>
                                                {% for tag in post.tag.all %}
                                                     <a class="badge m-1" href="{% url 'posts_by_tag' tag.slug %}">
                                                        {{ tag.name }}
                                                     </a>
                                                {% endfor %}
                                            </span>
                                        </span>
                                    </div>
                                    {% if post.thumb %}
                                        <div class="row">
                                            <div class="col-lg-8 col-md-6 col-sm-12">
                                                <p>{{ post.content | safe | slice:":450" }}...</p>
                                            </div>
                                            <img class="post-image img-fluid col-lg-4 col-md-4 col-sm-12 mx-auto"
                                                style="max-width: 250px;"
                                                src="{{ post.thumb.url }}"
                                            />
                                        </div>
                                    {% else %}
                                        <p>{{ post.content | safe | slice:":450" }}{% if post.content|length >= 450 %}...{% endif %}</p>
                                    {% endif %}
                                </div>

                                <a href="{% url 'post_detail' post.slug  %}">
                                    <button class="post-button btn-sm">
                                        <span>Read More </span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% if is_paginated %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page_num in paginator.page_range %}
                                    <li class="page-item {% if page_num == page_obj.number %}active{% endif %}">
                                        <a class="page-link" href="?page={{ page_num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                                            {{ page_num }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}
