{% extends 'base.html' %}
{% block content %}
    <head>
        <title>JPaubel | Blog Post</title>
    </head>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 card mb-4  mt-3 left top">
                <div class="card-body">
                    <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                    <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
                    {% if post.thumb %}
                        <div class="mx-auto col-lg-6 col-md-8 col-sm-10">
                            <img class="post-image img-fluid"
                                 src="{{ post.thumb.url }}"
                            />
                        </div>
                    {% endif %}

                    <p class="card-text mt-3">{{ object.content | safe }}</p>

                    <div id="tag" class="row m-1 mb-2">
                        <strong class="mr-1">Tags:</strong>
                        {% for tag in post.tag.all %}
                            <a class="badge badge-pill m-1" href="{% url 'posts_by_tag' tag.slug %}">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </div>
                    <a href="{% url 'blog' %}">
                        <button class="post-back-button btn-sm px-3 py-2">
                            <span>Back </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock content %}
