{% extends 'base.html' %}
{% block content %}
    <head>
        <title>JPaubel | Blog</title>
    </head>
    {% include 'navbar.html' %}
    <div id='content'>
        <div class="container">
            <div class="row">
                <div class="m-3">
                    {% for tag in tag %}
                    <div class="mb-1 link-light badge bg-secondary">
                        <a class="h6" href="{% url 'posts_by_tag' tag.slug %}">{{ tag.name }}</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-12 left">
                    {% for post in posts %}
                        <div class="card mb-4" >
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on }} </p>

                                <p class="card-text">{{ post.content | safe | slice:":200" }}...</p>

                                <div class="mt-3 mb-3">
                                    <strong>Tags:</strong>
                                    <div class="d-flex flex-row">
                                        {% for tag in post.tag.all %}
                                              <div class="link-light badge bg-secondary mr-1">
                                                 <a class="h6" href="{% url 'posts_by_tag' tag.slug %}">
                                                    {{ tag.name }}
                                                 </a>
                                              </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <a href="{% url 'post_detail' post.slug  %}">
                                    <button class="btn btn-md btn-primary">
                                        Back
                                        <i class="fa fa-angle-double-right ml-1"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{%endblock%}
