{% extends 'base.html' %}
{% block content %}
    <head>
        <title>Blog</title>
    </head>
    {% include 'navbar.html' %}
    <div id='content'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h1
                                class="text-center col-md-12 col-sm-12"
                            >
                                Articles
                            </h1>
                        </div>
                        <div id="tag" class="card-body d-flex overflow-auto" style="height: 75px">
                            <a class="badge mr-2" href="{% url 'blog' %}">All Posts</a>
                            {% for tag in tag %}
                                <a class="badge mr-2" href="{% url 'posts_by_tag' tag.slug %}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 left">
                    {% for post in posts %}
                        <div class="card mb-2" >
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <div class="card-text">
                                    <div class="row mb-2">
                                        <span class="col-auto text-muted pr-0">
                                            <i class="fa fa-clock-o mr-2"></i>{{ post.created_on }}
                                        </span>
                                        {% if post.created_on != post.updated_on %}
                                            <span class="col-auto text-muted pr-0"><i class="fa fa-pencil mr-2"></i>{{ post.updated_on }}</span>
                                        {% endif %}
                                        <span id="tag" class="col ml-3">
                                            <span class="row">
                                                <i class="fa fa-tags text-muted my-auto"></i>
                                                {% for tag in post.tag.all %}
                                                     <a class="badge m-1" href="{% url 'posts_by_tag' tag.slug %}">
                                                        {{ tag.name }}
                                                     </a>
                                                {% endfor %}
                                            </span>
                                        </span>
                                    </div>
                                    {% if post.thumb %}
                                        <div class="row">
                                            <div class="col-lg-8 col-md-6 col-sm-12">
                                                <p>{{ post.content | safe | slice:":450" }}...</p>
                                            </div>
                                            <img class="post-image img-fluid col-lg-4 col-md-4 col-sm-12 mx-auto"
                                                style="max-width: 250px;"
                                                src="{{ post.thumb.url }}"
                                            />
                                        </div>
                                    {% else %}
                                        <p>{{ post.content | safe | slice:":450" }}{% if post.content|length >= 450 %}...{% endif %}</p>
                                    {% endif %}
                                </div>

                                <a href="{% url 'post_detail' post.slug  %}">
                                    <button class="post-button btn-sm">
                                        <span>Read More </span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}
