<style>
    [data-theme='dark'] {
        --search-border: #555;
        --search-bg: #333;
        --search-text: #fff;
    }
    #search-bar:focus {
        border-color: var(--iris);
        box-shadow: 0 0 0 0.2rem rgba(114, 72, 199, 0.25);
    }

    [data-theme='dark'] #search-bar {
        border: 1px solid #555;
        background-color: #333;
        color: #fff;
    }
</style>
<form class="d-flex" method="GET" action="{% url 'search' %}">
    <input id="search-bar" class="form-control mr-2" type="search" name="q" placeholder="Search..." value="{{ request.GET.q }}">
</form>
