{% extends 'base.html' %}
{% load static %}

{% block extra_head_links %}
    <link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />
{% endblock %}

{% block gallery %}
    <head>
        <title>Gallery</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id='content' class="mt-4">
            <div class="container">
                <h1 class="text-center mb-4">Travel Gallery</h1>
                <div class="card">
                    <div class="card-body">
                        {% for image in gallery_info %}
                            <div class="row mb-2">
                                <div class="col">
                                    <h2 class="card-title"><a href="{% url 'gallery_detail' image.slug  %}">{{ image.country }}</a></h2>
                                    <p class="card-text">{{ image.content }}</p>
                                </div>
                            </div>
                            {% for gallery in image.galleries.all|slice:":1" %}
                                <div class="row photo-row justify-content-center">
                                    {% for photo in gallery.public|slice:":6" %}
                                        <a
                                            title="{{ photo.title }} on {{ photo.date_taken }}"
                                            href="{{ photo.get_display_url }}"
                                            data-lightbox="{{ gallery }}"
                                            class="m-2"
                                        >
                                            <img
                                                class="travel-photo"
                                                src="{{ photo.get_thumbnail_url }}"
                                                alt="{{ photo.title }}: {{ photo.caption }}"
                                                loading="lazy"
                                            >
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                            {% if image.country != gallery_info.last.country %}
                                <hr class="my-4" />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
{% endblock gallery %}

{% block extra_script_links %}
    <script src="{% static 'lightbox/js/lightbox-plus-jquery.js' %}"></script>
{% endblock %}
