SECRET_KEY=''
EMAIL_BACKEND=''
EMAIL_HOST=''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
EMAIL_PORT=''
EMAIL_USE_SSL=''
DEFAULT_FROM_EMAIL=''

HCAPTCHA_SITEKEY=''
HCAPTCHA_SECRET=''
VERIFY_URL=''
DJANGO_SUPERUSER_USERNAME=''
DJANGO_SUPERUSER_EMAIL=''
DJANGO_SUPERUSER_PASSWORD=''

ENVIRONMENT='QA'
DATABASE_URL=''
DATABASE_NAME=''
DATABASE_USER=''
DATABASE_PASSWORD=''
DATABASE_HOST=''
DATABASE_PORT=''

AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_STORAGE_BUCKET_NAME=''

ADMIN_OIDC_CLIENT_ENABLED=true
OIDC_USE_PKCE=true
OIDC_PKCE_CODE_VERIFIER_SIZE=64

IDENTITY_PROVIDER_DOMAIN='id.yourdomain.com'

OIDC_OP_AUTHORIZATION_ENDPOINT='https://${IDENTITY_PROVIDER_DOMAIN}/authorize'
OIDC_OP_TOKEN_ENDPOINT='https://${IDENTITY_PROVIDER_DOMAIN}/api/oidc/token'
OIDC_OP_USER_ENDPOINT='https://${IDENTITY_PROVIDER_DOMAIN}/api/oidc/userinfo'
OIDC_OP_JWKS_ENDPOINT='https://${IDENTITY_PROVIDER_DOMAIN}/.well-known/jwks.json'

# Client credentials
OIDC_RP_CLIENT_ID=''
OIDC_RP_CLIENT_SECRET=''
OIDC_RP_SIGN_ALGO='RS256'
OIDC_RP_SCOPES='openid email profile groups'