.venv/
venv/
.env
.vscode
.coverage*
/media/photologue/
/media/*.jpg
/media/*.JPEG
/media/*.JPG
/media/*.PNG
/media/*.png
/static/lightbox/images/
/static/ckeditor/ckeditor/skins/
# apps/*/migrations/*.py
# !**/migrations/__init__.py
.DS_Store
db.sqlite3
.idea/
__pycache__
