a:link {
  color: var(--cultured);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
    color: var(--cultured);
    background-color: transparent;
}
a:hover {
    color: var(--indigo-dye);
    background-color: transparent;
}
a:active {
    color: #6666FF;
    background-color: transparent;
}