.features {
	padding: 1em;
	position: relative;
}
.feature-title {
	color: var(--heading-font-color);
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 30px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}