#greeting {
    color: var(--navbar-text-color) !important;
}
#profile {
    border-radius: 16px;
    box-shadow: 0 0 10px 3px Gray;
    border: 1px #E3E7EB;
}
#logo {
    background-color: rgba(0, 0, 0, 0.05);
    border: 0.5px rgba(0, 0, 0, 0.01);
    border-radius: 50%;
}