#greeting > h1, #greeting > p {
    color: var(--greeting-color);
}
#profile {
    border-radius: 16px;
    box-shadow: var(--image-box-shadow);
    border: 1px var(--text-color);
}
#logo {
    background-color: rgba(0, 0, 0, 0.05);
    border: 0.5px rgba(0, 0, 0, 0.01);
    border-radius: 50%;
}