<section class="lazy-section mt-8" data-lazy="section">
  <h3 class="text-center">Interested in My Work?</h3>
  <div id="links">
    <div class="row justify-content-center text-center">
      <a class="github icon icon-fill"
        href="https://github.com/Prokope45"
        target="_blank"
        rel="noopener noreferrer"
        role="button"
      >
        <i class="fa fa-github"></i>
      </a>

      <a class="linkedin icon icon-fill"
        href="https://linkedin.com/in/jared-paubel"
        target="_blank"
        rel="noopener noreferrer"
        role="button"
      >
        <i class="fa fa-linkedin"></i>
      </a>

      <a class="medium icon icon-fill"
        href="https://medium.com/@prokope"
        target="_blank"
        rel="noopener noreferrer"
        role="button"
      >
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</section>