{% load static %}
<link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-python.min.js"></script>

<div class="ide-container lazy-section" data-lazy="section">
  <div class="ide-titlebar">
    <div class="buttons">
      <span class="button btn-close"></span>
      <span class="button btn-min"></span>
      <span class="button btn-max"></span>
    </div>
    <div>index.py - Prokode</div>
    <div></div>
  </div>
  <div class="ide-main">
    <div class="ide-sidebar">
      <img src="{% static '/logo/prokope-p.png' %}" alt="icon" title="Sample Icon" />
    </div>
    <div class="ide-content">
      <div class="ide-header">~/projects/prokope/index.py</div>
      <pre class="ide-editor"><code id="editor" class="language-python"></code></pre>
      <div class="ide-footer" id="footer">Ln 1, Col 1</div>
    </div>
  </div>
</div>

<script src="{% static 'js/ide.js' %}"></script>
