:root {
    /*Blue*/
    --columbia-blue: #CEE5f2;
    --beau-blue: #ACCBE1;
    --cerulean-frost: #7C98B3;
    --dark-electric-blue: #637081;
    --blue-sapphire: #166088;
    --blue-yonder: #4A6FA5;
    --indigo-dye: #01497C;
    --prussian-blue: #2C3D55;

    /*Blue-gray*/
    --black-coral: #536271;
    --charcoal: #3E4C5E;
    --gunmetal: #202831;

    /*Green*/
    --persian-green: #1FA28D;
    --caribbean-green: #32CD9E;
    --skobeloff: #026969;

    /*white & light-gray*/
    --cultured: #E9ECEF;
    --alice-blue: #DBE9EE;
    --gainsboro: #DEE2E6;

    /*other*/
    --roman-silver: #84828F;
    --old-lavender: #6A687A;
}
