.card {
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
}
.post-image {
    box-shadow: 10px 10px 5px #E3E7EB;
    border-radius: 16px;
    border: 1px #E3E7EB;
    width: 500px;
}
.post-image-preview {
    border-radius: 16px;
}
#tag a {
    transition: all .2s ease-in-out;
}
#tag a:link {
    background-color: var(--tag-bg-color) !important;
    color: var(--tag-font-color) !important;
}
#tag a:visited {
    background-color: var(--tag-bg-color);
    color: var(--tag-font-color);
}
#tag a:hover {
    transform: scale(1.1);
}
#tag a:active {
    transform: scale(.8);
    transition: .1s;
}
#filter-button {
    border-color: var(--button-bg-color);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    transition: all 0.3s ease;
}
.pagination .page-item {
    border-color: var(--button-text-color) !important;
    transition: all 0.3s ease;
}
.pagination .page-link:focus {
    box-shadow: 0 0 0 0.2rem var(--iris);
}
.pagination .page-link:hover {
    background-color: var(--pale-purple);
    color: var(--iris);
}
.pagination .page-item.active .page-link {
    background-color: var(--button-bg-color);
    color: var(--button) !important;
    border: 1px solid var(--button-text-color);
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: var(--select-bg-color);
    color: var(--select-text-color);
}
.dropdown-menu .dropdown-item.active {
    background-color: var(--iris);
    color: var(--pale-purple) !important;
}
.bootstrap-select .btn.dropdown-toggle {
    outline-color: var(--iris) !important;
    transition: all 0.3s ease;
}

.bootstrap-select {
    background-color: var(--select-bg-color) !important;
    color: var(--select-text-color) !important;
    border-color: var(--select-border-color) !important;
    border-radius: 1%;
    transition: all 0.3s ease;
}

.bootstrap-select .dropdown-toggle {
    background-color: var(--select-bg-color) !important;
    color: var(--select-text-color) !important;
    border: 1px solid var(--select-border-color) !important;
    border-radius: 1%;
}

.btn.dropdown-toggle.btn-light {
    background-color: var(--select-bg-color) !important;
    color: var(--select-text-color) !important;
    border-color: var(--select-border-color) !important;
    transition: all 0.3s ease;
  }

.btn.dropdown-toggle.btn-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(114, 72, 199, 0.25);
}

.btn.dropdown-toggle.btn-light.bs-placeholder {
    background-color: var(--select-bg-color) !important;
    color: var(--select-text-color) !important;
    border-color: var(--select-border-color) !important;
    transition: all 0.3s ease;
}

.btn.dropdown-toggle.btn-light.bs-placeholder:focus {
    box-shadow: 0 0 0 0.2rem rgba(114, 72, 199, 0.25);
}

.bootstrap-select .dropdown-menu {
    background-color: var(--select-bg-color);
    color: var(--select-text-color);
}
.bootstrap-select .dropdown-menu .dropdown-item {
    color: var(--select-text-color);
}

.bootstrap-select .dropdown-menu .dropdown-item:hover,
.bootstrap-select .dropdown-menu .dropdown-item:focus {
    background-color: var(--iris);
    color: var(--pale-purple);
}

.bs-actionsbox .btn {
    background-color: var(--multi-select-actions-bg-color);
    color: var(--multi-select-actions-text-color);
    border: 1px solid var(--multi-select-actions-bg-color);
}

.bs-actionsbox .btn:hover {
    background-color: var(--pale-purple);
    color: var(--iris);
    border-color: var(--pale-purple);
}

.dropdown-menu .no-results {
    background-color: var(--multi-select-actions-bg-color);
}

.bs-searchbox input:focus {
    border-color: var(--multi-select-actions-bg-color);
    box-shadow: 0 0 0 0.2rem var(--multi-select-actions-bg-color);
}

[data-theme="dark"] .bs-searchbox input {
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease;
}