@import "colors/color.css";
@import "navbar/navbar.css";
@import "footer/footer.css";
@import "buttons/buttons.css";
@import "blog/blog.css";
@import "contact/contact.css";
@import "contact/media_queries.css";
@import "index/control.css";
@import "gallery/gallery.css";
@import "form/input.css";
@import "search.css";

img {
    pointer-events: none;
}
.head_text {
    color: white;
}
#content {
   padding-bottom:60px;
}

.travel-photo {
    border-radius: 5px;
    box-shadow: var(--image-box-shadow);
    border: 1px var(--text-color);
    transition: all .2s ease-in-out;
}
.travel-photo:active {
    transform: scale(.8);
    transition: .1s;
}
@media only screen and (max-width: 600px) {
    .photo-row {
        justify-content: center;
    }
}
#container {
   min-height:100%;
   position: relative;
}

:root {
    --background-color: var(--platinum);
    --text-color: var(--dark-gray);
    --image-box-shadow: 0 0 10px 3px var(--english-violet);
    --banner-box-shadow: 0 5px 5px 1px var(--english-violet);
    --greeting-color: var(--platinum);

    --link-color: var(--cyber-grape);
    --link-hover-color: var(--pale-purple);

    --navbar-bg-color: var(--platinum);
    --navbar-text-color: var(--dark-gray);
    --navbar-text-hover-color: var(--cyber-grape);
    --navbar-text-active-color: var(--iris);

    --footer-bg-color: var(--iris);
    --footer-text-color: var(--platinum);
    --footer-link-color: var(--footer-text-color);
    --footer-link-hover-color: var(--wisteria);

    --card-box-shadow: 0 15px 10px -10px var(--english-violet);
    --card-bg-color: var(--white);
    --card-border-color: var(--iris);
    --card-text-color: var(--dark-gray);
    --card-details-color: var(--roman-silver);
    --card-heading-color: var(--cyber-grape);
    --card-heading-hover-color: var(--iris);

    --heading-font-color: var(--dark-gray);

    --select-bg-color: var(--white);
    --select-text-color: var(--dark-gray);
    --select-border-color: var(--white);

    --button-bg-color: var(--pale-purple);
    --button-border-color: var(--iris);
    --button-text-color: var(--iris);

    --tag-bg-color: var(--iris);
    --tag-font-color: var(--pale-purple);
}

[data-theme="dark"] {
    --background-color: var(--delft-blue);
    --text-color: var(--pale-purple);
    --greeting-color: var(--pale-purple);

    --link-color: var(--cyber-grape);
    --link-hover-color: var(--iris);

    --navbar-bg-color: var(--delft-blue);
    --navbar-text-color: var(--iris);
    --navbar-text-hover-color: var(--pale-purple);
    --navbar-text-active-color: var(--wisteria);

    --footer-bg-color: var(--cyber-grape);
    --footer-text-color: var(--pale-purple);
    --footer-link-color: var(--footer-text-color);
    --footer-link-hover-color: var(--wisteria);

    --card-box-shadow: 0 15px 10px -10px var(--dark-purple);
    --card-bg-color: var(--cyber-grape);
    --card-border-color: var(--wisteria);
    --card-text-color: var(--pale-purple);
    --card-details-color: var(--roman-silver);
    --card-heading-color: var(--wisteria);
    --card-heading-hover-color: var(--pale-purple);

    --heading-font-color: var(--wisteria);
    
    /* #495057 */
    --select-bg-color: #333;
    --select-text-color: var(--pale-purple);
    --select-border-color: var(--iris);

    --button-bg-color: var(--iris);
    --button-border-color: var(--iris);
    --button-text-color: var(--wisteria);

    --tag-bg-color: var(--pale-purple);
    --tag-font-color: var(--iris);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the elements take up at least the full height of the viewport */
    width: 100%;  /* Ensure the elements span the full width of the viewport */
    box-sizing: border-box; /* Include padding and border in width and height calculations */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
    min-height: 100%; /* Extend body height to ensure it covers all content */
}

a:link {
    color: var(--link-color);
    background-color: transparent;
}
a:visited {
    color: var(--link-color);
    background-color: transparent;
}
a:hover {
    color: var(--link-hover-color);
    background-color: transparent;
}
a:active {
    color: var(--iris);
}

#content, html, body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    transition: all 0.3s ease;
}

.button-custom {
    background-color: var(--navbar-bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.button-custom:hover {
    background-color: var(--text-color);
    color: var(--navbar-bg-color);
}

/* Excludes blog post titles & greeting title */
h1, h3 {
    color: var(--heading-font-color);
    transition: all 0.3s ease;
}