{% extends 'base.html' %}
{% load static %}

{% block extra_head_links %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
{% endblock %}

{% block index %}
    <head>
      <title>Portfolio</title>
      <!-- <style>
          [data-theme="dark"] #profile {
              /* FIXME: Filter causes delay during theme switch */
              filter: brightness(.8) contrast(1.2);
              transition: all 0.3s ease;
          }
      </style> -->
    </head>

    {% include 'navbar.html' %}
    <div id="content">
      {% if index_data.hero_banner %}
        <header class="page-header header container-fluid mb-4 p-0 d-flex align-items-center justify-content-center"
          style="background-image: url({{ index_data.hero_banner.url }});"
        >
      {% else %}
      <header class="page-header header container-fluid mb-4 p-0">
      {% endif %}
        <!-- <div class="overlay"></div> -->
        {% include 'partials/ide.html' %}
      </header>
      </header> <!-- two closing headers for if-else -->

      <div class="container">
        <section class="features index-section mt-4">
          <div class="row align-items-start">
            <h3 id="{{ index_data.about_me_title }}" class="col-12 feature-title">{{ index_data.about_me_title }}</h3>
            <div class="col-12 col-lg-8 order-2 order-lg-1">
              <p>{{ index_data.about_me_description }}</p>
            </div>
            <div class="col-12 col-lg-4 order-1 text-center order-lg-2 mb-2 p-0 lazy-section" data-lazy="section">
              {% if index_data.hero_image %}
                <!-- FIXME: Filter causes delay during theme switch -->
                <img id="profile" class="img-fluid my-auto" src="{{ index_data.hero_image.url }}" />
              {% else %}
              {% endif %}
            </div>
          </div>
          <div class="row lazy-section" data-lazy="section">
            <div class="col">
              <h3 id="{{ index_data.about_prokope_title }}" class="feature-title">{{ index_data.about_prokope_title }}</h3>
              <p>{{ index_data.about_prokope_description }}</p>
            </div>
          </div>
        </section>
        
        <div class="mt-4">
          {% include 'partials/contact_buttons.html' %}
        </div>

        <div class="mt-8">
          {% include 'partials/recent_articles.html' with posts=posts %}
        </div>

        <div class="mt-8">
          {% include 'partials/gallery.html' with gallery=gallery %}
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
{% endblock index %}