{% extends 'base.html' %}
{% load static %}

{% block extra_head_links %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
{% endblock %}

{% block index %}
    <head>
      <title>Portfolio</title>
      <!-- <style>
          [data-theme="dark"] #profile {
              /* FIXME: Filter causes delay during theme switch */
              filter: brightness(.8) contrast(1.2);
              transition: all 0.3s ease;
          }
      </style> -->
    </head>

    {% include 'navbar.html' %}
    <div id="content">
      {% if index_data.hero_banner %}
        <header class="page-header header container-fluid mb-4 p-0 d-flex align-items-center justify-content-center"
          style="background-image: url({{ index_data.hero_banner.url }});"
        >
      {% else %}
      <header class="page-header header container-fluid mb-4 p-0">
      {% endif %}
        <!-- <div class="overlay"></div> -->
        {% include 'partials/ide.html' with title=index_data.about_prokope_title %}
      </header>
      </header> <!-- two closing headers for if-else -->

      <div class="container">
        <section class="features index-section">
          <h1 class="row justify-content-center">Who, and what?</h1>
          <div class="row align-items-start">
            <h2 id="{{ index_data.about_me_title }}" class="col-12 feature-title">{{ index_data.about_me_title }}</h2>
            <div class="col-12 col-lg-8 order-2 order-lg-1">
              <p>{{ index_data.about_me_description }}</p>
            </div>
            <div class="col-12 col-lg-4 order-1 text-center order-lg-2 mb-2 p-0 lazy-section" data-lazy="section">
              {% if index_data.hero_image %}
                <!-- FIXME: Filter causes delay during theme switch -->
                <img id="profile" class="img-fluid my-auto" src="{{ index_data.hero_image.url }}" />
              {% else %}
              {% endif %}
            </div>
          </div>

          {% include 'partials/section_breaks/prokope_definition.html' %}

          <div class="row lazy-section" data-lazy="section">
            <div class="col">
              <h2 id="{{ index_data.about_prokope_title }}" class="feature-title">{{ index_data.about_prokope_title }}</h2>
              <p>{{ index_data.about_prokope_description }}</p>
            </div>
          </div>
        </section>

        <!-- TODO: make arguments dynamically generated -->
        {% include 'partials/section_breaks/section_break.html' with title='Blog' subtitle='articles' subtext='Blog articles on a variety of topics, including software development, personal development, and more.' %}

        {% include 'partials/recent_articles.html' with posts=posts %}

        <!-- TODO: make arguments dynamically generated -->
        {% include 'partials/section_breaks/section_break.html' with title='Gallery' subtitle=gallery.country subtext='Travel photos from my younger years.' %}

        {% include 'partials/gallery.html' with gallery=gallery %}
      </div>
    </div>
    {% include 'footer.html' %}
{% endblock index %}