{% load static %}

<pre id="typewriter" class="unselectable">
<span class="var-highlight">var</span> portfolio = {
    name: <span class="string-highlight">'Jay'</span>,
    type: <span class="string-highlight">'Software Developer'</span>,
    location: <span class="string-highlight">'Manhattan, KS'</span>,
    properties:[
        <span class="string-highlight">'Welcome to Prokope.io!'</span>,
        <span class="string-highlight">'My personal portfolio exploring technology and psychology.'</span>
    ],
};
</pre>
<script src="{% static 'js/Typewriter.js' %}"></script>
