{% extends 'base.html' %}
{% load static %}
{% block content %}
  <head>
    <title>Prokope | Nonexistent Page</title>
    {% block extra_head_links %}
      <script
        src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
        type="module"
      ></script>
    {% endblock %}
  </head>
  {% include 'navbar.html' %}
  <div id="content" class="mb-4">
    <div class="container text-center justify-content-center col-md-12 col-sm-12">
      <dotlottie-player
        class="mx-auto"
        src="https://lottie.host/32e4ac41-5cb1-4b63-a586-890bae2f9ee6/h0dnLwg0aS.lottie"
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px"
        loop
        autoplay
      ></dotlottie-player>
      <h1
        class="m-3"
      >
        Sorry, page does not exist.
      </h1>
    </div>
  </div>
  {% include 'footer.html' %}
{% endblock content %}
