.navbar {
    background: var(--prussian-blue);
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link:hover {
    color: #539987;
}
.navbar-collapse {
    justify-content: flex-end;
}