.nav-link:visited {
    color: var(--cultured) !important;
    background-color: transparent;
}
.nav-link:link {
    color: var(--cultured) !important;
    background-color: transparent;
}
.nav-link:hover {
    color: var(--blue-green) !important;
    background-color: transparent;
    font-weight: bold;
}
.nav-link.active {
    color: var(--dark-sky-blue) !important;
    font-weight: bold;
}
.navbar {
    background: var(--prussian-blue);
}
.nav-link,
.navbar-brand {
    cursor: pointer;
}
.nav-link {
    font-size: 25px;
}
#nav-brand {
    font-size: 30px;
}
.navbar-collapse {
    justify-content: flex-end;
}