.navbar {
    background: var(--prussian-blue);
}
.nav-link,
.navbar-brand {
    cursor: pointer;
}
.nav-link {
    font-size: 25px;
}
#nav-brand {
    font-size: 30px;
}
.navbar-collapse {
    justify-content: flex-end;
}