#bottom {
    position: relative;
    bottom:0;
    width:100%;
    height:60px;
    background: var(--footer-bg-color);
 }
.page-footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 60px 0 30px;
}
.footer-copyright {
    color: var(--footer-text-color);
    padding: 40px 0;
}
@media (max-width: 740px) {
    .extra-links {
        margin: 1em;
    }
    .contact-links {
        margin: 1em;
    }
}
#footer a:visited {
    color: var(--pale-purple);
    background-color: transparent;
}
#footer a:link {
    color: var(--pale-purple);
    background-color: transparent;
}
#footer a:hover {
    color: var(--tekhelet);
    background-color: transparent;
}
#footer a:active {
    color: var(--tekhelet);
}