.arrow {
  width: 150px;
  height: 50px;
  border: none;
  border-bottom: 2px white solid;
  margin-left: 100px;
  margin-top: 20px;
  transition: .5s all;
}
.arrow:hover i {
  animation-name: circle;
  animation-duration: 1s;
}