@import "colors/color.css";
@import "navbar/navbar.css";
@import "footer/footer.css";
@import "buttons/buttons.css";
@import "blog/blog.css";
@import "contact/contact.css";
@import "contact/media_queries.css";
@import "index/control.css";
@import "gallery/gallery.css";
@import "form/input.css";
@import "search.css";

img {
    pointer-events: none;
}
.head_text {
    color: white;
}
#content {
   padding-bottom:60px;
}
/* FIXME: Why do these CSS classes not apply directly to the objects? */
.travel-photo {
    border-radius: 5px;
    box-shadow: 0 0 10px 3px Gray;
    border: 1px #E3E7EB;
    transition: all .2s ease-in-out;
}
.travel-photo:active {
    transform: scale(.8);
    transition: .1s;
}
@media only screen and (max-width: 600px) {
    .photo-row {
        justify-content: center;
    }
}
.post-image {
    box-shadow: 10px 10px 5px #E3E7EB;
    border-radius: 16px;
    border: 1px #E3E7EB;
    max-width: 500;
}
#container {
   min-height:100%;
   position: relative;
}
a:visited {
    color: var(--indigo);
    background-color: transparent;
}
a:link {
    color: var(--indigo);
    background-color: transparent;
}
a:hover {
    color: var(--tekhelet);
    background-color: transparent;
}
a:active {
    color: var(--iris);
}


/* TODO: Organize into related component css */
:root {
    --background-color: var(--platinum);
    --text-color: var(--dark-gray);

    --navbar-bg-color: var(--platinum);
    --navbar-text-color: var(--iris);

    --footer-bg-color: var(--iris);
    --footer-text-color: var(--platinum);

    --card-bg-color: var(--white);
    --card-text-color: var(--russian-violet);
    --card-details-color: var(--roman-silver);

    --tag-bg-color: var(--tekhelet);
    --tag-font-color: var(--pale-purple);

    --heading-font-color: var(--dark-gray);

    --select-bg-color: var(--white);
    --select-text-color: var(--dark-gray);
    --select-border-color: var(--iris);
}

[data-theme="dark"] {
    --background-color: var(--delft-blue);
    --text-color: var(--pale-purple);
    --navbar-bg-color: var(--delft-blue);
    --navbar-text-color: var(--pale-purple);

    --footer-bg-color: var(--cyber-grape);
    --footer-text-color: var(--pale-purple);

    --card-bg-color: var(--cyber-grape);
    --card-text-color: var(--pale-purple);
    --card-details-color: var(--roman-silver);

    --tag-bg-color: var(--pale-purple);
    --tag-font-color: var(--cyber-grape);

    --heading-font-color: var(--wisteria);

    --select-bg-color: #333;
    --select-text-color: var(--pale-purple);
    --select-border-color: var(--iris);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the elements take up at least the full height of the viewport */
    width: 100%;  /* Ensure the elements span the full width of the viewport */
    box-sizing: border-box; /* Include padding and border in width and height calculations */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
    min-height: 100%; /* Extend body height to ensure it covers all content */
}

body.dark-theme img {
    filter: brightness(.8) contrast(1.2);
}

.blog-details {
    color: var(--card-details-color);
}
#content, html, body {
background-color: var(--background-color) !important;
color: var(--text-color) !important;
}

.navbar {
background-color: var(--navbar-bg-color) !important;
color: var(--navbar-text-color) !important;
}

.nav-link:link {
color: var(--navbar-text-color) !important;
}

.button-custom {
    background-color: var(--navbar-bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.button-custom:hover {
    background-color: var(--text-color);
    color: var(--navbar-bg-color);
}

.card {
    background-color: var(--card-bg-color) !important;
    color: var(--card-text-color);
    border: 1px solid var(--card-text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #search a {
    color: var(--heading-font-color) !important;
}

.card a {
    color: var(--card-text-color) !important;
    text-decoration: none; /* Remove underline by default */
}

.card p {
    color: var(--card-text-color) !important;
}

.page-link {
    color: var(--cyber-grape) !important;
}
h1, h2, h3 {
    color: var(--heading-font-color) !important;
}

#darkModeToggle {
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
}

#darkModeToggle:hover {
    opacity: 0.8;
}
#darkModeToggle:active {
    border: none;
}