@import "colors/color.css";
@import "navbar/navbar.css";
@import "footer/footer.css";
@import "buttons/buttons.css";
@import "blog/blog.css";
@import "contact/contact.css";
@import "contact/media_queries.css";
@import "index/control.css";
@import "gallery/gallery.css";

html {
    height: 100%;
}
body {
   background-color: var(--cultured);
   margin:0;
   padding:0;
   height:100%;
}
.head_text {
    color: white;
}
#content {
   padding-bottom:60px;
}
#container {
   min-height:100%;
   position: relative;
}
a:visited {
    color: var(--cultured);
    background-color: transparent;
}
a:link {
    color: var(--cultured);
    background-color: transparent;
}
a:hover {
    color: var(--dark-sky-blue);
    background-color: transparent;
}
a.active {
    color: var(--dark-sky-blue);
}