.h1 {
    margin: 1em !important;
}
.image-row > img {
    transition: all .2s ease-in-out;
}
.image-row > img:active {
    transform: scale(1.1);
    transition: .1s;
}
.scroll_gallery {
    overflow-x: scroll;
}

[data-theme="dark"] .lb-outerContainer {
    background-color: var(--english-violet) !important;
}
[data-theme="dark"] .lightbox .lb-image {
    border-color: var(--heliotrope) !important;
}
[data-theme="dark"] .lb-data .lb-caption, .lb-number {
    color: var(--heliotrope) !important;
}

#gallery .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
}

*{
    padding:0;
    margin:0;
}

section{
    padding: 50px 0;
}

.gallery-title{
    font-size: 36px;
    color: #3F6184;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery_product{
    margin: 0px;
    padding:0;
    position:relative;
}