.h1 {
    margin: 1em !important;
}
.image-row > img {
    transition: all .2s ease-in-out;
}
.image-row > img:active {
    transform: scale(1.1);
    transition: .1s;
}
.scroll_gallery {
    overflow-x: scroll;
}

[data-theme="dark"] .lb-outerContainer {
    background-color: var(--english-violet) !important;
}
[data-theme="dark"] .lightbox .lb-image {
    border-color: var(--heliotrope) !important;
}
[data-theme="dark"] .lb-data .lb-caption, .lb-number {
    color: var(--heliotrope) !important;
}

#masonry-container {
    width: 100%;
}

.gallery_product{
    margin: 0px;
    padding: 0px;
    position:relative;
}

.hidden {
    display: none;
}
