@import "../colors/color.css";

#bg{
    max-width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    position: relative;
}
#Form-Body {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 10px 3px Black;
}
.shadow {
   box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
}
.asteriskField {
    display: none;
}
.contact-icon {
    color: var(--blue-sapphire);
}