{% load static %}
<link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />

<a href="{% url 'gallery_detail' gallery.country.slug  %}">
  <h1 class="text-center">
    {{ gallery.city }}, {{ gallery.country }}
  </h1>
</a>
<div
  class="gallery-masonry"
>
  {% for photo in gallery.photos %}
  <div class="m-2">
    <a
      class="d-block"
      title="{{ photo.title }} on {{ photo.date_taken }}"
      href="{{ photo.get_display_url }}"
      data-lightbox="{{ gallery }}"
    >
      <span class="lazy-image-wrapper" data-masonry-item>
        <div class="spinner"></div>
        <img
          class="travel-photo lazy-image d-block"
          data-lazy="image"
          data-src="{{ photo.get_display_url }}"
          alt="{{ photo.title }}: {{ photo.caption }}"
        >
      </span>
    </a>
  </div>
  {% endfor %}
</div>

<script src="{% static 'lightbox/js/lightbox-plus-jquery.js' %}"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>