{% extends 'base.html' %}
{% block content %}
    <head>
        <title>JPaubel | 400 Error</title>
    </head>
    {% include 'navbar.html' %}
    <div id='content'>
        <div class="container text-center justify-content-center col-md-12 col-sm-12">
            <img class="img-fluid" width=200 src="media/request_error_icon.png">
            <h1
                class="m-3"
            >
                Sorry, that action is unavailable.
            </h1>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock content %}
