#greeting > h1, #greeting > p {
    color: var(--greeting-color);
}
#profile {
    border-radius: 16px;
    box-shadow: var(--image-box-shadow);
    border: 1px var(--text-color);
}
#logo {
    background-color: var(--code-animation-font-color);
    border: 0.5px rgba(0, 0, 0, 0.01);
    border-radius: 5%;
    max-width: 65px;
}