.nav-link:visited {
    color: var(--indigo) !important;
    background-color: transparent;
}
.nav-link:link {
    color: var(--indigo) !important;
    background-color: transparent;
}
.nav-link:hover {
    color: var(--tekhelet) !important;
    background-color: transparent;
}
.nav-link:active {
    color: var(--iris) !important;
}
.navbar {
    background: var(--platinum);
}
.nav-link,
.navbar-brand {
    cursor: pointer;
}
.nav-link {
    font-size: 25px;
}
#navbar-name {
    font-size: 8vw !important;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-brand {
    transition: all .2s ease-in-out;
}
.navbar-brand:active {
    transform: scale(.8);
    transition: .1s;
}
.navbar-toggler-icon {
    color: var(--indigo) !important;
}