.nav-link:visited {
    color: var(--indigo);
    background-color: transparent;
}
.nav-link:link {
    color: var(--indigo);
    background-color: transparent;
}
.nav-link:hover {
    color: var(--tekhelet);
    background-color: transparent;
}
.nav-link:active {
    color: var(--iris);
}
.navbar {
    background: var(--platinum);
}
.nav-link,
.navbar-brand {
    cursor: pointer;
}
.nav-link {
    font-size: 25px;
}
#navbar-name {
    font-size: 8vw !important;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-brand {
    transition: all .2s ease-in-out;
}
.navbar-brand:active {
    transform: scale(.8);
    transition: .1s;
}
.custom-toggler-icon {
    color: var(--indigo) !important;
}
.custom-toggler.navbar-toggler {
    border-color: var(--indigo) !important;
}
#search-bar {
    border-color: var(--select-bg-color) !important;
    background-color: var(--select-bg-color) !important;
    color: var(--select-text-color) !important;
}
#search-bar:focus {
    border-color: var(--iris) !important;
    box-shadow: 0 0 0 0.2rem rgba(114, 72, 199, 0.25) !important;
}