.contact-button {
    margin: 10px;
}
.github {
    background-color: #333333 !important;
}
.stack-overflow {
    background-color: #ffac44 !important;
}
.slack {
    background-color: #481449 !important;
}
.linkedin {
    background-color: #0082ca !important;
}
