.contact-button {
    margin: 5px;
}

.github::before {
  box-shadow: inset 0 0 0 1px var(--github);
}
.github:hover::before {
  box-shadow: inset 0 0 0 60px var(--github);
}

.stack-overflow::before {
  box-shadow: inset 0 0 0 1px var(--stack-overflow);
}
.stack-overflow:hover::before {
  box-shadow: inset 0 0 0 60px var(--stack-overflow);
}

.slack::before {
  box-shadow: inset 0 0 0 1px var(--slack);
}
.slack:hover::before {
  box-shadow: inset 0 0 0 60px var(--slack);
}

.linkedin::before {
  box-shadow: inset 0 0 0 1px var(--linkedin);
}
.linkedin:hover::before {
  box-shadow: inset 0 0 0 60px var(--linkedin);
}