.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #FFFFFF;
	font-size: 2em;
    padding: 10px;
}
.description p {
	color: #fff;
	font-size: 1.5em;
	line-height: 1.5;
}
.description button {
    border:1px solid #fff;
    background:#0b3954;
    border-radius: 5;
    color:#fff;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}