/*Mobile-first responsive */
@media (max-width: 1000px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        transform: none;
        text-align: center;
        font-size: 3vw;
    }
    .features {
        margin: 0;
    }
    #profile {
        width: 150px;
    }
    .contact-button {
        width: 25%;
    }
}

@media (max-width: 300px) {
    #profile {
        width: 100px;
        margin-top: 5em;
    }
    .description {
    }
}