:root {
    /* Contact Links */
    --github: #333333;
    --stack-overflow: #ffac44;
    --flickr-blue: #0063DC;
    --flickr-pink: #FF0084;
    --linkedin: #0082ca;

    /* Blue */
    --columbia-blue: #CEE5f2;
    --beau-blue: #ACCBE1;
    --cerulean-frost: #7C98B3;
    --dark-electric-blue: #637081;
    --blue-sapphire: #166088;
    --celadon-blue: #2C7DA0;
    --blue-yonder: #4A6FA5;
    --indigo-dye: #01497C;
    --prussian-blue: #2C3D55;
    --blue-green: #468FAF;
    --dark-sky-blue: #89C2D9;
    --light-blue: #A9D6E5;

    /* Blue-gray */
    --dark-blue-gray: #66668F;
    --black-coral: #536271;
    --charcoal: #3E4C5E;
    --gunmetal: #202831;

    /* Green */
    --persian-green: #1FA28D;
    --caribbean-green: #32CD9E;
    --skobeloff: #026969;

    /* white & light-gray */
    --cultured: #E9ECEF;
    --alice-blue: #DBE9EE;
    --gainsboro: #DEE2E6;
    --platinum: #EBEBEB;
    --sea-froth: #D2DCE5;

    /* gray */
    --heliotrope: #A69EA9;
    --roman-silver: #84828F;

    /* Red & Pink */
    --pink-silver: #EBEBEB;

    /* Purple */
    --cyber-grape: #64528E;
    --old-lavender: #6A687A;
    --mystic-purple: #39304A;
    --northern-sea-rock: #3E3F59;
}
